@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3>Materials</h3>
<ul>
<li>@Html.ActionLink("Material Inventory", "Index", "Material")</li>
</ul>
<h3>Workflow</h3>
<ul>
<li>@Html.ActionLink("Workflow", "Index", "Workflow")</li>
</ul>

